{% extends 'paginas_base/base.html' %}

{%  load static %} 
{% block titulo %}Página Nosotros {% endblock titulo %}
{% block contenido %}
<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
  <div class="d-flex justify-content-between">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">Patricio rey y sus redonditos de ricota</h1>
      <p class="lead my-3">Patricio Rey y sus Redonditos de Ricota o también conocida como: "los redondos", fue una influyente banda de rock argentino formada en la década de 1970. Su música y letras se caracterizaron por su estilo críptico, poético y a menudo político.</p>
      
    </div>
    <div class="col-md-6 px-0 text-end">
      <img src="{% static 'prrey.png' %}" class="rounded" alt="logo" width="450">
    </div>
  </div>
</div>

   
       
    
    
      
  
   
   
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">Obras</strong>
              <h3 class="mb-0">"La resiliencia del futuro"</h3>
              <div class="mb-1 text-muted">Medidas: 27.5x 23cm</div>
              <p class="card-text mb-auto">Esta obra es un retrato estilo tradi de la diosa Cali la cual va acompañada con una obra tridimensional de un caldero que sale su mano azúl.</p>
              <a href="#" class="stretched-link">Continue reading</a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
    
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-success">Dragon oriental</strong>
              <div class="mb-1 text-muted">Tamaño A3</div>
              <p class="mb-auto">Realizada en papel con marcadores al alcohol y lápices</p>
              <a href="#" class="stretched-link">Continue reading</a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
    
            </div>
          </div>
        </div>
  
   

{% endblock contenido %}